.breadcrumb {
  font-size: 14px;
  color: #7a7a7a;
  background-color: #eeeeee;
  padding: 30px 20px;
  border-radius: 4px;
  margin: 0;
}

.breadcrumb span.current {
  font-weight: bold;
  color: #444444;
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 12px;
    padding: 8px;
  }
}
