.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
}

.cart-content {
  flex: 1;
  max-width: 60%;
  margin-right: 0px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.cart-items {
  width: 80%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  flex-wrap: wrap; /* Adiciona wrap para ajustar itens */
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.item-title {
  flex: 1;
  font-size: 18px;
}

.item-price {
  flex: 0 1 auto;
  text-align: right;
  font-size: 18px;
  margin-right: 50px;
}

.item-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 15px;
}

.remove-button {
  background-color: #d3d1d1;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.order-summary {
  flex: 0.3;
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 4px;
  max-width: 600px;
  margin-left: auto;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #0b283c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.continue-shopping {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #313131;
}

@media (max-width: 1024px) {
  .cart-page {
    flex-direction: column;
    padding: 40px;
  }

  .cart-content {
    max-width: 100%;
    margin-right: 0;
  }

  .order-summary {
    margin-left: 0;
    margin-top: 20px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .cart-page {
    padding: 20px;
  }

  .cart-content {
    margin-bottom: 20px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .item-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .item-price {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .item-controls {
    gap: 5px;
    margin-right: 0;
  }

  .remove-button {
    padding: 4px 8px;
  }

  .order-summary {
    padding: 20px;
    margin-left: 0;
    margin-top: 20px;
  }

  .summary-item {
    margin-bottom: 15px;
  }

  .summary-total {
    font-size: 14px;
  }

  .checkout-button {
    font-size: 14px;
  }
}
